@using System.Activities.Expressions
@using System.Web.UI.WebControls
@using Blog.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<Blog.Models.Post>
@{
    ViewBag.Title = "Index";
}

<p class="page-title">All Posts</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{

    <div class="post-title">
        @Html.DisplayFor(modelItem => item.Title)
    </div>

    <div class="post-about">
        @Html.DisplayFor(modelItem => item.About)
    </div>
    <div class="post-content">
        @Html.DisplayFor(modelItem => item.Content)
    </div>
    <div class="post-date">
        <p>Posted on @Html.DisplayFor(modelItem => item.DatePosted) by @Html.DisplayFor(modelItem => item.User.Username) </p>
    </div>
    <div class="post-category">
        <p class="post-category">Category: @Html.DisplayFor(modelItem => item.Category.Content) </p>
    </div>
    <br />
        <div class="comments-container">
            <span class="comments-heading">Comments:</span>
            <ul id="comments-list" class="comments-list">
                @foreach (var comment in item.Comment)
                {
                    <li>
                        <div class="comment-main-level">

                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">@Html.DisplayFor(modelItem => comment.User.Username)</h6>
                                    <span>@Html.DisplayFor(modelItem => comment.DatePublished)</span>

                                </div>
                                <div class="comment-content">
                                    @Html.DisplayFor(modelItem => comment.Content)
                                </div>
                            </div>
                        </div>
                    </li>
                            @*<div class="post-comment">@Html.DisplayFor(modelItem => comment.Content)</div>
                                <div class="post-comment-author">@Html.DisplayFor(modelItem => comment.User.Username)</div>
                                <div class="post-comment-date">@Html.DisplayFor(modelItem => comment.DatePublished)</div>*@

                }
                </ul>
        </div>

        <div class="btn btn-blue btn-effect">
            @Html.ActionLink("Comment", "Comment", new { postId = item.PostId }, new { userId = HttpContext.Current.User.Identity.GetUserId() })
        </div>

        <br /><br /><br />



        <div class="post-buttons">
            <div class="btn btn-blue btn-effect">
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
            </div>
            <div class="btn btn-blue btn-effect">
                @Html.ActionLink("Details", "Details", new { id = item.PostId })
            </div>
            <div class="btn btn-blue btn-effect">
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
            </div>
        </div>
}

